/Debug
/OgreApp-BaseApplication.o
/OgreApp-TutorialApplication.o
/OgreApp-BallManager.o
/OgreApp-Simulator.o
/OgreApp-TileSimulator.o
/Ogre.log
/OgreApp
/OgreApp-BaseGame.o
/netserver
/OgreApp-NetManager.o
/OgreApp-SoundManager.o
/OgreApp-TileGame.o
/autom4te.cache
/.deps
/plugins.cfg
